.banner{
    background-image: url("../Images/eec983c73f0741a6ba6e7684_cut_800x500_349\ 1.png");
    background-attachment: cover;
    width:100%;
    height: 570px;
}
*{
    margin:0px;
}
.top{
    width:100%;
    height:43px;
    background-color: black;
}
.top-main{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-child a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-main-div{
    margin-left: 120px;
margin-right: 120px;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-child-div1 img{
    width: 63px;
    height:65px;
}
.nav-child-div1 h1{
    display: inline;
    color: white;
}
.nav-child-div2 a{
color: white;
margin-left: 10px;
text-decoration: none;
}
.navbar{
    background-color: #100238;
}
.register{
    background-color: #0E7D95;
    color: #100238;
    width: 100px;
    height:40px;
    border-radius: 10px;
    border-style: none;
}
.banner h1{
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 170px; 
    color: white;
    position:absolute;
    font-size: 90px;
    z-index: 1;
}
.heading{
    margin-top: 70px;
    text-align: center;
}
.cards{
    margin-left:130px;
    margin-right: 130px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.card-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
}
.child-card{
    height:600px;
    width: 320px;
    box-shadow: 5px 4px 20px gray;
    border-color: white;
    border-style: solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
align-items: center;
/* border-width: 5px; */
justify-content: center;
}
.image img{
    width: 290px;
    height:300px;
}
.star img{
    width: 20px;
    height: 20px;
     display: inline;
     margin: 5px;
}
.card-lower{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100%;
}
.btn{
    background-color: blue;
    width:110px;
    height: 32px;
    margin-left: 50px;
}
button a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.content{
text-align: center;
}
.visit button{
    background-color: blue;
    width:110px;
    height: 32px;
    margin-left: 30px;
}
.visit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}
.fa-solid{
    margin-right: 5px;
    margin-left: 0px;
}
.icon{
    position:absolute;
    border-style: none;
    border-radius: 23px;
    width:43px;
    height:39px;
    margin-left: 236px;
    margin-top: -295px;
    background-color: white;
    color:red
}
.icon .fa-solid{
margin-left: 5px;
margin-top: 21px;
}
.experience{
    margin-top: 300px;
    background-color: black;
    color: white;
    height:1000x;
    display: flex;
    flex-direction: column;
}
.experience-main{
    margin-left: 160px;
    margin-right: 160px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px; */
}
.experience-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-top: 220px;
}
.experience-child1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin-top: -893px;
    margin-left: 763px;  
}
.experience-child-sub{
     margin-top: 130px;
}
.dummy{
    width:50%;
    height:100px
}
.dummy2{
    width:100%;
    height:200px;
}
.start-right img{
    width: 300px;
    height:500px;
     margin-top:-340px ; 
    /* margin-left: 400px; */
    /* position:absolute; */
}
.start{
    margin-left: 160px;
   position: absolute;
    margin-top: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.start h1{
    font-size: 30px;
}
.destination{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.destination-left{
    display: flex;
    flex-direction: column;
}
.destination-left img{
    width: 300px;
    height: 380px;
    margin-top: -110px;
}
.destination-right{
    margin-left: 200px;
    width: 60%;
}
.view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.view1{
 background-color: rgb(88, 88, 148);
 width:140px;
 height:80px;
 border-radius: 5px; 
 text-align: center;  
}
.view1 h1{
margin-top: 8px;
color: rgb(1, 1, 39);
font-size: 30px;
}
.view1 p{
color: white;
}
.view2 h1{
    margin-top: 8px;
    font-size: 30px;
    }
.view2{
    background-color: gray;
    width:140px;
    height:80px; 
    border-radius: 5px; 
    text-align: center; 
   }
   span{
    font-size: 40px;
    color: blue;
   }
   .booking-banner img{
    margin: 130px;
    /* background-image:url("../Images/istockphoto-611295150-612x612 1.png") ;
    background-attachment: cover; */
    width:1069px;
    height: 700px;
    z-index: 0;
}
.booking-content{
    z-index:1;
    /* margin-left: 500px; */
    text-align: center;
    margin-top: -750px;
    font-size: 25px;
}
.btn-boking{
    width:100px;
    height:40px;
    background-color: rgb(6, 6, 194);
    border-radius: 5px;
    border-style: none;
    color: white;
}
.footer{
    width: 100%;
    margin-top: 500px;
    background-color: rgb(41, 41, 151);
}
.link{
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list{
    list-style: none;
}
.list a{
    text-decoration: none;
    color: white;
}
.child-link h3{
    color: white;
}
.child-link{
    margin-top: 30px;
}
.payment{
    display: flex;
    margin-top: 50px;
     margin-left: 130px;
    margin-right: 130px;
    flex-direction: row;
    justify-content: space-between;
}
.payment img{
    width:200px;
    height:150px
}
.subscribe{
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
}
.end{
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
width: 1000px;
}
.slider{
    width: 100%;
    height: 52px;
    color: #180352;
    outline:rgb(163, 6, 116);
    border-radius: 5px;
}
.footer{
    width: 100%;
    margin-top: 500px;
    background-color: #020838;
    height: 800px;
}
.link{
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list{
    list-style: none;
}
.list a{
    text-decoration: none;
    color: white;
}
.child-link h3{
    color: white;
}
.child-link{
    margin-top: 30px;
}
.payment{
    display: flex;
    margin-top: 50px;
     margin-left: 130px;
    margin-right: 130px;
    flex-direction: row;
    justify-content: space-between;
}
.payment img{
    width:200px;
    height:150px
}
.subscribe{
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
}
.end{
    width: 100%;
    background-color: black;
 
    color: white;
    height: 50px;
}
.end h3{
    margin-top: 20px;
    position: absolute;
    margin-left:535px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 50px;
    color: white;
width: 1000px;
}
.btn-bottom img{
    width:30px;
    height: 30px;
}
.btn-bottom{
background-color: #425ab1;
border-radius: 25px;
position: fixed;
bottom:70px;
right: 30px;
border-style: none;
margin-left: 70px;
margin-bottom: 30px;
}