.banner{
    background-image: url("../Images/beautiful-nature-landscape-mountains-forest-lake-clouds-sunset-wallpaper-preview\ 1.png");
    background-attachment: cover;
    width:100%;
    height: 570px;
}
*{
    margin:0px;
}
.top{
    width:100%;
    height:43px;
    background-color: black;
}
.top-main{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-child a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-main-div{
    margin-left: 120px;
margin-right: 120px;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-child-div1 img{
    width: 63px;
    height:65px;
}
.nav-child-div1 h1{
    display: inline;
    color: white;
}
.nav-child-div2 a{
color: white;
margin-left: 10px;
text-decoration: none;
}
.navbar{
    background-color: #100238;
}
.register{
    background-color: #0E7D95;
    color: #100238;
    width: 100px;
    height:40px;
    border-radius: 10px;
    border-style: none;
}
.banner h1{
    margin-left: 350px;
    margin-right: 230px;
    margin-top: 170px; 
    color: white;
    position:absolute;
    font-size: 90px;
    z-index: 1;
}
.story{
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 100px;
}
.inner-story{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.inner-story-child1{
    font-size: 18px;
}
.inner-story-child2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
span{
    color: #1948f1be;
    font-size: 50px;
    
}
.box{
    width:250px;
    height:119px;
    margin-bottom: 20px;
    background-color: #818BDF;
    border-radius: 10px;
    text-align: center;
}
.box h1{
    margin-top: 9px;
    margin-bottom: 10px;
    color: #020838;
    font-size: 44px;
}
.box p{
    color:white
}
.pictures{
    display: flex;
    flex-direction: row;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 100px;
    justify-content: space-between;
}
.pic1 img{
width: 228px;
height: 364px;
}
.pic2 img{
    width:289px;
    height: 730px;
    margin-left: 5px;
}
.pic3{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.sub-div{
    display: flex;
    flex-direction: row;
}
.pic3 img{
    width:545px;
    height:336px;
    margin-left: 4px;
}
.sub-div img{
    width: 266px;
    height: 380px;
    margin-top: 10px;
    margin-left: 9px;
}
.cards{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 100px;
}
.card-child{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-bottom: 30px;
    width:1070px;
    border-radius: 7px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px 5px 20px gray;
}
.card-child-left img{
    width:315px;
    height:262px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-child-right{
    margin-left: 10px;
    margin-top: 65px;
}
.card-child-right h2{
    color:palevioletred ;
}
.icon{
    width: 50px;
    height:50px;
    border-radius: 30px;
    border-style: none;
    position: absolute;
    background-color: white;
    margin-left: 141px;
    margin-top: -177px;
}
.fa-solid{
    color: palevioletred;
    position: absolute;
    margin-left: 20px;
    margin-top: 17px;
}
.images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left: 30px;
    margin-top: 280px;
    margin-bottom: 140px; */
}
.images1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 280px;
    margin-bottom: 140px;
}
.photos{
    background-color: #020838;
    width: 100%;
    z-index: 0;
    margin-top: 100px;
}
.images img{
    width: 350px;
    height: 390px;
}
.head{
    color: white;
    margin-top: 150px;
   z-index: 1;
   margin-left:545px ;
   position: absolute;
}
 .images-child h3{
color: white;
margin-top: -26px;
margin-left: 86px;
} 
.footer{
    width: 100%;
    margin-top: 300px;
    background-color: #020838;
    height: 800px;
}
.link{
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list{
    list-style: none;
}
.list a{
    text-decoration: none;
    color: white;
}
.child-link h3{
    color: white;
}
.child-link{
    margin-top: 30px;
}
.payment{
    display: flex;
    margin-top: 50px;
     margin-left: 130px;
    margin-right: 130px;
    flex-direction: row;
    justify-content: space-between;
}
.payment img{
    width:200px;
    height:150px
}
.subscribe{
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
}
.end{
    width: 100%;
    background-color: black;
 
    color: white;
    height: 50px;
}
.end h3{
    margin-top: 20px;
    position: absolute;
    margin-left:535px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 50px;
    color: white;
width: 1000px;
}
.btn-bottom img{
    width:30px;
    height: 30px;
}
.btn-bottom{
background-color: #425ab1;
border-radius: 25px;
position: fixed;
bottom:70px;
right: 30px;
border-style: none;
margin-left: 70px;
margin-bottom: 30px;
}
