.banner{
background-image: url("../Images/river-mountain-nature-beautiful-mountains-mountains.png");
    background-attachment: cover;
    width:100%;
    height:713px;
    /* z-index: 0; */
}
*{
    margin:0px;
}
.top{
    width:100%;
    height:43px;
    background-color: black;
}
.top-main{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-child a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.nav-main-div{
    margin-left: 120px;
margin-right: 120px;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-child-div1 img{
    width: 63px;
    height:65px;
}
.nav-child-div1 h1{
    display: inline;
    color: white;
}
.nav-child-div2 a{
color: white;
margin-left: 10px;
text-decoration: none;
}
.navbar{
    background-color: #100238;
}
.register{
    background-color: #0E7D95;
    color: #100238;
    width: 100px;
    height:40px;
    border-radius: 10px;
    border-style: none;
}
.inner-banner-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
 align-items: center;
}
.inner-banner-child{
text-align: center;
margin-top:270px;
/* z-index: 2; */
}
.inner-banner-child img{
    width:340px;
    height:210px;
}
.banner h1{
margin-left: 270px;
margin-right: 230px;
margin-top: 100px; 
color: white;
position:absolute;
font-size: 100px;
z-index: 1;
text-align: center;
}
.inner-banner-child h2{
    margin-top: -140px;
    /* z-index: 3; */
    color: white;
    font-size: 35px;
}
.heading{
    text-align: center;
    margin-top: 110px;
    margin-bottom: 110px;
}
.card-main{
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.card-child{
    background-color: #020838;
    width: 335px;
    height: 580px;
    border-radius: 10px;   
}
.top-left1{
    background-color: white;
    width: 230px;
    height: 64px;
    text-align: center;
    font-style: italic;
    border-bottom-right-radius: 10px;
}
.top-left1 h3{
    margin-top: 20px;
    margin-left: 60px;
    position: absolute;
}
.top-left2{
    background-color: yellow;
    width: 230px;
    height: 64px;
    text-align: center;
    font-style: italic;
    border-bottom-right-radius: 10px;
  
}
.top-left3{
    background-color:pink;
    width: 254px;
    height: 64px;
    text-align: center;
    font-style: italic;
    border-bottom-right-radius: 10px;
  
}
.top-left2 h3{
    margin-top: 20px;
    margin-left: 60px;
    position: absolute;
}
.top-left3 h3{
    margin-top: 20px;
    margin-left: 60px;
    position: absolute;
}
.span1{
    color:palevioletred;
    font-size: 40px;
}
.span2{
    font-size: 80px;
    color: white;
}
.booking{
    width:310px;
    height: 50px;
    background-color: #0166FE;
    border-radius: 10px;
    border-style: none;
    margin-left: 10px;
    color: white;
    font-size: 20px;
}
.offer-form{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-style: none;
    margin-left: 130px;
    margin-right: 130px;
    background-color: rgb(6, 6, 58);
    margin-top: 100px;
}
.form-content{
    width:40%;
}
.pic{
    width:60%;
    height:500px;
}
.pic img{
    width:100%;
    height:500px;
}
.form-content{
    margin-top: 40px;
    margin-left: 40px;
}

.form-content h1{
    color: white;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form-input{
    width:330px;
    height: 50px;
    border-radius: 6px;
    border-style: none;
    font-size: 30px;
}
.form-content img{
    width:45px;
    height: 45px;
   margin-left: 250px;
   margin-top: -60px;
   position: absolute;
}
.offer{
    background-color:rgb(6, 6, 94);
    width:330px;
    height: 40px;
    border-radius: 6px;
    border-style: none;
    color: white;
    font-size: 30px;
}
.footer{
    width: 100%;
    margin-top: 150px;
    background-color: #020838;
    height: 800px;
}
.link{
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list{
    list-style: none;
}
.list a{
    text-decoration: none;
    color: white;
}
.child-link h3{
    color: white;
}
.child-link{
    margin-top: 30px;
}
.payment{
    display: flex;
    margin-top: 50px;
     margin-left: 130px;
    margin-right: 130px;
    flex-direction: row;
    justify-content: space-between;
}
.payment img{
    width:200px;
    height:150px
}
.subscribe{
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
}
.end{
    width: 100%;
    background-color: black;
 
    color: white;
    height: 50px;
}
.end h3{
    margin-top: 20px;
    position: absolute;
    margin-left:535px;
}
hr{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 50px;
    color: white;
width: 1000px;
}
.btn-bottom img{
    width:42px;
    height: 38px;
}
.btn-bottom{
background-color: 020E38;
border-radius: 30px;
position: fixed;
bottom:144px;
right: 97px;
border-style: none;
}
